<% include header_admin %>
            <div class="content">
                <div class="row">
                    <div class="col-12 pd-3">
                        <h4 style="color: #333; padding-top: 5px;"><i style="color: rgb(44, 49, 46);" class="fa fa-pencil-square-o     " aria-hidden="true"></i> Cập nhập danh mục </h4>
                        <form action="/admin/category/update" method="POST">
                            <div class="row">
                                <input hidden type="text" name="id" value="<%= id %>">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Name Category" name="nameCategory" value="<%= category[0].name%>" required="required">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Key Name" name="keyCategory" value="<%= category[0].key%>" required="required">
                                </div>
                                <!-- <div class="col-12 mt-3 mb-3">
                                    <input type="date" class="form-control" name="dateCategory">
                                </div> -->
                                <div class="col-12 mt-3 mb-3">
                                    <textarea class="form-control" rows="5" id="comment" placeholder="<%= category[0].description %>" value="<%= category[0].description%>" name="descriptionCategory"></textarea>
                                </div>
                                <div class="col-12 mt-3 mb-3">
                                    <button class="btn btn-primary" type="submit">Cập nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>

</html>